/nifi-data/database_repository/*
!/nifi-data/database_repository/.gitkeep

/nifi-data/flowfile_repository/*
!/nifi-data/flowfile_repository/.gitkeep

/nifi-data/content_repository/*
!/nifi-data/content_repository/.gitkeep

/nifi-data/logs/*
!/nifi-data/logs/.gitkeep

/nifi-data/flow-conf/*
!/nifi-data/flow-conf/.gitkeep

/nifi-data/provenance_repository/*
!/nifi-data/provenance_repository/.gitkeep

/nifi-data/nar_extensions/*
!/nifi-data/nar_extensions/.gitkeep

/nifi-data/python_extensions/*
!/nifi-data/python_extensions/.gitkeep

/python_processor/tmp